<header class="app-header">
  <nav class="app-nav">
    <ul class="nav-left">
      <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
      @if (user && user.media && user.media.length > 0) {
      <li><a routerLink="/user-data-show" routerLinkActive="active">LISTA DE JOGOS</a></li>
      }
    </ul>
    <ul class="nav-right">
      @if (!user) {
      <li><a routerLink="/login" routerLinkActive="active">LOGIN</a></li>
      <li><a routerLink="/registrar" routerLinkActive="active">REGISTRAR</a></li>
      }@else {
      <li><a (click)="logout()">Sair</a></li>

      }
    </ul>
  </nav>
</header>

<main class="app-main">
  <router-outlet />
</main>

<footer class="app-footer">
  <p>© 2025 Diario-Online. All rights reserved.</p>
</footer>