/* Reset global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Documento */
html, body {
  height: 100%;
  width: 100%;
}

/* Root do Angular */
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
